<template>
  <v-container
          fluid
          style="min-height: 0;"
          grid-list-lg
  >
    <template >
      <v-layout v-for="(card, idx) in data" :key="idx" row wrap>
        <v-flex xs12>
          <v-card elevation-3>
            <v-container fluid grid-list-lg  @click.stop="toRoute('Details', {card: card.id})">
              <v-layout row>
                <v-flex xs2 style="cursor: pointer">
                  <v-img
                          :src="card.src"
                          height="125px"
                          contain
                  ></v-img>
                </v-flex>
                <v-flex xs10>
                  <div>
                    <div class="title" style="cursor: pointer">
                      {{card.title}}
                    </div>
                    <div class="body-1">
                      <span class="grey--text">
                        {{card.short}}
                      </span>
                    </div>
                  </div>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </template>
  </v-container>
</template>

<script>
    export default {
        name: 'ListCards',
        created () {
        },
        props: ["data"],
        data: () => ({

        }),
        methods: {
            toRoute (rname, rparams = {}, query = {}) {
                this.dialog = true
                this.$router.push({name: rname, params: rparams, query: query})
            }
        }
    }
</script>

<style scoped>
    .article {
        /*font-family: 'Archivo', sans-serif, Helvetica;*/
        list-style-type: none;
        font-size: 18px !important;
        font-weight: 400;
        cursor: pointer;
        alignment: left;
    }

    .title-font {
        /*Google fonts: Archivo*/
        font-family: 'Archivo', sans-serif, Helvetica;
        font-size: 16px !important;
        font-weight: 400;
        cursor: pointer;
        color: #616161;
        line-height: 1.8;
    }

    .content-font {
        /*Google fonts: Work Sans*/
    }

    .note-font {
        /*Google fonts: playfair display*/
    }
</style>

