<template>
    <v-container
            class="fluid px-0"
    >
        <v-layout column>
            <v-flex xs12>
                <v-flex xs10 offset-xs1 class="pb-3" text-xs-center>
                    <div class="display-2 text--center"> {{article.judul}} </div>
                </v-flex>
            </v-flex>
            <v-flex text-xs-center>
                <img :src="article.image" height="200px">
            </v-flex>
        </v-layout>
        <v-layout row wrap my-3>
            <v-flex v-bind="{ [`xs${article.flex}`]: true, [`offset-xs${article.offset}`]: true }">
                <span v-html="article.konten">
                </span>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: 'Details',
        created () {
            this.detailResep2()
        },
        mounted () {
            // console.log(this.$route.params)
        },
        data: () => ({
            show: false,
            judul: '',
            gambar: '',
            konten:'',
            idResep: '',
            article: {}
        }),
        methods: {
            toRoute (rname, rparams = {}, query = {}) {
                this.dialog = true
                this.$router.push({name: rname, params: rparams, query: query})
            },
            detailResep2 () {
                let _this = this
                var openRequest = indexedDB.open('deliciodb', 1)
                openRequest.onsuccess = function (e) {
                    var db = e.target.result;
                    db.transaction('tblresep').objectStore('tblresep').get(_this.$route.params.card).onsuccess = function(event) {
                        var cursor = event.target.result;
                        _this.article = cursor
                        _this.article.flex = 12
                        _this.article.offset = 1
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
