<template>
  <v-layout justify-center>
    <v-flex lg12 md12 sm12>
      <v-card>
        <div v-show="layout===true">
          <v-container fluid grid-list-sm>
            <v-layout row wrap>
              <v-flex lg3 md6 sm6
                      v-for="(card, index) in filteredMenu"
                      v-bind="{ [`xs${card.flex}`]: true }"
                      :key="index"
              >
                <router-link :to="{ name: 'Details', params: { card: card.id}}">
                  <v-card>

                    <v-img
                            :src="card.src"
                            height="40vh"
                    >
                      <v-container
                              fill-height
                              fluid
                              pa-2
                      >
                        <v-layout fill-height>
                        </v-layout>
                      </v-container>
                    </v-img>

                    <v-card-title primary-title>
                      <div>
                        <span class="headline teal--text">{{card.title}}</span>
                      </div>
                    </v-card-title>

                    <v-card-title>
                      <div>
                        <span v-html="cards.desc">{{card.desc}}</span>
                      </div>
                    </v-card-title>

                    <!--<v-card-actions>-->
                    <!--<v-spacer></v-spacer>-->
                    <!--<v-btn icon>-->
                    <!--<v-icon color="teal">favorite</v-icon>-->
                    <!--</v-btn>-->
                    <!--<v-btn icon>-->
                    <!--<v-icon color="teal">bookmark</v-icon>-->
                    <!--</v-btn>-->
                    <!--<v-btn icon>-->
                    <!--<v-icon color="teal">share</v-icon>-->
                    <!--</v-btn>-->
                    <!--</v-card-actions>-->
                  </v-card>
                </router-link>
              </v-flex>
            </v-layout>
          </v-container>
        </div>

        <div v-show="layout===false">
          <About :data="filteredMenu"></About>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
    import About from './About.vue'
    import { EventBus } from '@/event-bus.js'
    export default {
        // data: () => ({
        //     cards: [
        //         { title: 'Pre-fab homes', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', flex: 12, desc: 'nskafbdjsbgkdbskjbadlk' },
        //         { title: 'Favorite road trips', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg', flex: 12, desc: 'nskafbdjsbgkdbskjbadlk' },
        //         { title: 'Best vvvv', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', flex: 12, desc: 'nskafbdjsbgkdbskjbadlk' },
        //         { title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', flex: 12, desc: 'nskafbdjsbgkdbskjbadlk' },
        //         { title: 'Best xxx', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', flex: 12, desc: 'nskafbdjsbgkdbskjbadlk' }
        //     ]
        // })
        props:["pencarian", "layout"],
        components:{
            About
        },
        created () {
          EventBus.$on('resep', clickCount => {
            if (clickCount === 'baru') {
              this.show()
            }
          })
        },
        data: function () {
            return{
                cards: []
            }
        },
        methods: {
            show () {
              let _this = this
              this.cards = []
              var openRequest = indexedDB.open('deliciodb', 1)
              openRequest.onsuccess = function (e) {
                var db = e.target.result;
                db.transaction('tblresep').objectStore('tblresep').openCursor().onsuccess = function(event) {
                  var cursor = event.target.result;
                  if (cursor) {
                    let data = {
                                'id' : cursor.key,
                                'title' : cursor.value.judul,
                                'desc' : cursor.value.konten,
                                'short' : cursor.value.deskripsi,
                                'src' : cursor.value.image
                            }
                    _this.cards.push(data)
                    cursor.continue();
                  }
                }
              }
            }
        },
        computed: {
            filteredMenu: function () {
                var terms = this.pencarian.trim().toLowerCase();

                if (!this.pencarian.length) {
                    return this.cards;
                }

                return this.cards.filter(function (card) {
                    if (card.title.toLowerCase().indexOf(terms) !== -1) {
                        return card;
                    }
                });
            }
        },
        mounted() {
          this.cards = []
          this.show()
        },
    }
</script>

<style scoped>
a {
 color: rgba(25, 118, 210, 0);
}
</style>
