<template>
    <v-app id="app">
      <!--<v-navigation-drawer-->
              <!--v-model="drawer"-->
              <!--fixed-->
              <!--app-->
      <!--&gt;-->
        <!--<v-list dense>-->
          <!--<v-list-tile @click="doklik">-->
            <!--<v-list-tile-action>-->
              <!--<v-icon>home</v-icon>-->
            <!--</v-list-tile-action>-->
            <!--<v-list-tile-content>-->
              <!--<v-list-tile-title>Home</v-list-tile-title>-->
            <!--</v-list-tile-content>-->
          <!--</v-list-tile>-->
          <!--<v-list-tile @click="doklik">-->
            <!--<v-list-tile-action>-->
              <!--<v-icon>contact_mail</v-icon>-->
            <!--</v-list-tile-action>-->
            <!--<v-list-tile-content>-->
              <!--<v-list-tile-title>Contact</v-list-tile-title>-->
            <!--</v-list-tile-content>-->
          <!--</v-list-tile>-->
        <!--</v-list>-->
      <!--</v-navigation-drawer>-->
      <v-toolbar color="teal" dark fixed app>
        <!--<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>-->
        <v-toolbar-title @click.stop="toRoute('home', '')">
          <img :src="loc + '/img/icons/deliciolight.png'" width="80em"/>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-flex xs6 sm4 md3 lg4>
          <v-text-field
                  v-model="kataKunci"
                  label="Cari.."
                  color="teal lighten-4"
          ></v-text-field>
        </v-flex>
        <v-btn icon name="btnsearch">
          <v-icon>search</v-icon>
        </v-btn>
        <!--<v-btn dark icon v-if="isList" name="btnlist" @click.stop="listView()">-->
          <!--<v-icon>apps</v-icon>-->
        <!--</v-btn>-->
        <!--<v-btn dark icon v-else @click.stop="listView()" name="btnlist">-->
          <!--<v-icon>view_list</v-icon>-->
        <!--</v-btn>-->
        <v-btn dark icon v-if="isList" name="btnlist" @click.stop="listView()">
          <v-icon>apps</v-icon>
        </v-btn>
        <v-btn dark icon v-else @click.stop="listView()" name="btnlist">
          <v-icon>view_list</v-icon>
        </v-btn>
      </v-toolbar>
      <v-content>
        <v-container fluid fill-height>
          <v-layout
                  justify-center
                  align-center
          >
            <v-flex text-xs-left>
              <router-view :pencarian="kataKunci" :layout="isList"/>
            </v-flex>
          </v-layout>
        </v-container>
        <!--<Home :pencarian="kataKunci"></Home>-->
      </v-content>
      <v-footer color="teal" app class="text--center">
        <v-flex text-xs-center>
        <span class="white--text text-xs-center">InDev</span>
        </v-flex>
      </v-footer>
    </v-app>
</template>
<script>
    // import Home from './views/Home.vue'
    export default {
        created () {
          this.loc = window.location.origin
        },
        components:{
            // Home
        },
        data: () => ({
            kataKunci:'',
            drawer: false,
            isList: true,
            loc: ''
        }),
        props: {
            source: String
        },
        methods: {
            doklik () {
              // console.log('tes', 'nanana')
            },
            toRoute (rname, rparams = {}, query = {}) {
                this.dialog = true
                this.$router.push({name: rname, params: rparams, query: query})
            },
            listView () {
                this.isList = !this.isList
                var eventName = 'emitListView'
                window.bus.$emit(eventName, {
                    isList: this.isList
                })
            }
        }
    }
</script>
<style>
@font-face {
  font-family: 'Regular';
  font-display: auto;
  src: local('Regular'), url(https://delicio-a6750.firebaseapp.com/MaterialIcons-Regular.woff2) format('woff2');
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
